/* Reset some default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #cbf3f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    max-width: 100%;
    margin-top: 5%;
}

.main {
    border: 2px solid #012a4a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 2px 2px 30px #003566;
    border: none;
    margin: auto;
    position: relative;
    background-color: #94d2bd;
    transition: all 0.3s ease;
}

/* Header styles */
header {
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 3px solid black;
    width: 100%;
    border-radius: 70%;
    transition: all 0.3s ease;
}

#title {
    color: #001d3d;
    font-style: oblique;
    font-weight: bolder;
    transition: all 0.3s ease;
}

/* Form styles */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
    width: 100%;
    align-content: center;
    transition: all 0.3s ease;
    
}

input.todo-input {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 25px;
    max-width: 100%;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    transition: all 0.3s ease;
    
}

button.todo-button {
    padding: 1rem;
    /* margin-bottom: 10px; */
    background-color: #2c365e;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    align-items: center;
    margin-left: -2.5rem;
    border-bottom: 2px solid black;
    transition: all 0.3s ease;
    min-width: auto;
    overflow: hidden;
   
}

button.todo-button:hover {
    background-color: #09b396;
    color: #fcfbfa;
}

#search {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 80%;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 25px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    transition: all 0.3s ease;
}

.filter-todo {
    padding: 1rem;
    margin-left: 1rem;
    background-color: #2c365e;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    display: block;
    width: 80px;
    align-items: center;
    transition: all 0.3s ease;
}

.filter-todo:hover {
    background-color: #09b396;
    color: #fcfbfa;
    box-shadow: 0 0 10px black;
}

.select {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/* Todo list container */
.todo-container {
    background-color: #fff;
    margin: 0 5% 1rem 5%;
    width: 50vh;
    max-width: 100%;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.468);
    transition: all 0.3s ease;
}

/* Todo list styles */
.todo-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.todo-item {
    background-color: #f0f0f0;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

div.todo {
    margin-bottom: 1.5rem;
}

.todo-item .task {
    flex: 1;
}

li.todo-item {
    background-color: #1e7f7f;
    margin: 0;
    color: white;
}

.todo-item .delete-btn {
    color: red;
    cursor: pointer;
}

/* Tooltip styles (if needed) */
.tooltip-inner:hover {
    background-color: #333;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    padding: 0.5rem 1rem;
}
.complete-btn,
.edit-btn,
.trash-btn {
    margin: 0.5rem;
}

.fa-edit,
.fa-trash,
.fa-check-circle {
    pointer-events: none;
    align-items: center;
}

.edit-btn {
    background-color: #333;
    color: #ccc;
    transition: all 0.3s ease;
}

.completed {
    text-decoration: line-through;
    opacity: 0.2;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .header {
        max-width: 100%;
    }
    .main {
        max-width: 100%;
    }

    form {
        flex-direction: column;
        align-items: stretch;
    }

    .select {
        border: #0f0501;
        display: inline-block;
        align-items: center;
        margin: auto;
    }

    .todo-input,
    #search {
        margin-right: 0;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    .todo-container {
        max-width: 100%;
    }
}

@media screen and (max-width: 350px) {
    body {
        margin-top: 2rem;
        font-size:1rem ;
    }

    .main {
        padding: 0.5rem;
        border-radius: 10px;
    }

    header {
        margin-bottom: 1rem;
        border-bottom: 2px solid black;
        border-radius: 50%;
    }

    form {
        margin-bottom: 1rem;
        flex-wrap: wrap;
    }

    input.todo-input,
    #search {
        padding: 0.5rem;
        max-width: 80%;
    }

    button.todo-button {
        padding: 0.5rem;
        margin-right: 0.1rem;
    }

    .filter-todo {
        padding: 0.5rem;
        margin-left: 0.5rem;
    }

    .todo-container {
        margin: 0 2rem 0.5rem 2rem;
        padding: 1rem;
    }

    .todo-item {
        padding: 0.5rem;
    }

    .complete-btn,
    .edit-btn,
    .trash-btn {
        margin: 0.25rem;
    }
    
}
